extends admin

block details
    form(id='addProduct', action='/admin/products/add', method='POST')
        label(for='name') Product Name
        br
        input(type='text', id='name', name='name', placeholder='Product Name', required=true)
        br

        label(for='category') Category
        br
        select(id='category', name='category')
            each category in categories
                option(value=category.CategoryID)= category.CategoryName
        br

        label(for='price') Product Price
        br
        input(type='text', id='price', name='price', placeholder='125.88', required=true)
        br

        label(for='unit') Units in stock
        br
        input(type='text', id='unit', name='unit', placeholder='12', required=true)
        br

        label(for='description') Description
        br
        textarea(id='description', name='description', required=true) Product Description
        br

        label(for='year') Manufacturing Year
        br
        input(type='text', id='year', name='year', placeholder='2020', required=true)
        br

        label(for='image') Product Image
        input(type='file', id='image', name='image')
        br

        p
            b Featured Product
        label(for='featureYes') Yes
        input(type='radio', id='featureYes', name='feature', value=1)

        label(for='featureNo') No
        input(type='radio', id='featureNo', name='feature', value=0)
        br

        button.btn.btn-default(type='submit') Submit