extends info

block details

    .row
        h3 Personal Information
        .col-sm-6
            .table-responsive
                table.table.table-condensed
                    tbody
                        tr
                            td Fullname
                            td= customer.FullName
                        tr
                            td Address
                            td= customer.StreetAddress
                        tr
                            td
                            td= customer.PostCode + ' ' + customer.City
                        tr
                            td
                            td= customer.Country
                        tr
                            td Tel
                            td= customer.Phone
                        tr
                            td Email
                            td= customer.Email
                        tr
                            td Username
                            td= customer.Username
    form.dev-form(action='/usr/' + customer.Username + '/edit', method='GET')
        button.btn.btn-default(type='submit')
            i.fa.fa-edit
            = ' Edit info'

    form.dev-form(action='/usr/' + customer.Username + '/change-password', method='GET')
        button.btn.btn-default(type='submit')
            i.fa.fa-key
            = ' Change password'
    br
    br
    br